//@@include('inc/header.html')

<!-- Section: Main -->
<main class="section main">

    <section class="section header">
        <div class="container">
            <div class="section-search">
                <div class="logo">
                    <a href="#"> <img src="assets/img/Icon.png" alt=""></a>
                </div>
                <form action="#" class="form">
                    <div class="custom-form"> <input type="search" name="" id="" placeholder="気になるワードを入力"></div>
                </form>
            </div>
            <div class="section-top-menu">
                <div class="menu">
                    <ul>
                        <li><a href="#">家事</a></li>
                        <li><a href="#">インテリア</a></li>
                        <li><a href="#">収納</a></li>
                        <li><a href="#">動画</a></li>
                        <li><a href="#">新カテゴリ</a></li>
                        <li><a href="#">新カテゴリ</a></li>
                        <li><a href="#">新カテゴリ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="border"></div>
        <div class="section-slider">
            <div class="slider">
                <div><img src="assets/img/img1.jpg" alt=""></div>
                <div><img src="assets/img/img2.jpg" alt=""></div>
                <div><img src="assets/img/img3.jpg" alt=""></div>
            </div>
        </div>
        <div class="container">
            <div class="section-fixed-menu">
                <div class="menu">
                    <div class="logo-2"> <a href="#"><img src="assets/img/logo_2.jpg" alt=""></div></a>
                    <ul>
                        <li><a href="#">家事</a></li>
                        <li><a href="#">インテリア</a></li>
                        <li><a href="#">収納</a></li>
                        <li><a href="#">動画</a></li>
                        <li><a href="#">新カテゴリ</a></li>
                        <li><a href="#">新カテゴリ</a></li>
                        <li><a href="#">新カテゴリ</a></li>
                    </ul>
                    <div class="search">
                        <form action="#" class="form">
                            <div class="custom-form"> <input type="search" name="" id="" placeholder="気になるワードを入力"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="border-2"></div>

    </section>

    <section class="section content style-d style-alt">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="section-title">
                        <div class="title">PICK UP</div>
                        <div class="subtitle">ピックアップ</div>
                    </div>
                    <div class="section-images">
                        <div class="item">
                            <a href="#"><img src="assets/img/img-1.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/img/img-2.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/img/img-3.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                        </div>
                    </div>
                    <div class="section-buttom">
                        <a href="#" class="ui buttom style-d">ピックアップ記事をもっとみる</a>
                    </div>
                    <div class="section-title">
                        <div class="title">LATEST</div>
                        <div class="subtitle">最新記事</div>
                    </div>
                    <div class="section-images">
                        <div class="item">
                            <a href="#"><img src="assets/img/img-4.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/img/img-5.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/img/img-6.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                        </div>
                    </div>
                    <div class="section-images">
                        <div class="item">
                            <a href="#"><img src="assets/img/img-7.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/img/img-8.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/img/img-9.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                        </div>
                    </div>
                    <div class="section-buttom">
                        <a href="#" class="ui buttom style-d">最新記事をもっとみる</a>
                    </div>
                    <div class="section-title">
                        <div class="title">RANKING</div>
                        <div class="subtitle">ランキング</div>
                    </div>
                    <div class="section-images">
                        <div class="item">
                            <a href="#"><img src="assets/img/img-10.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                            <div class="inner-1">1</div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/img/img-11.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                            <div class="inner-2">2</div>
                        </div>
                        <div class="item">
                            <a href="#"><img src="assets/img/img-12.jpg" alt="" class="img"></a>
                            <div class="desc">2020.00.00 - Category</div>
                            <div class="subtitle-2">投稿タイトルが入ります</div>
                            <div class="articl-desc">文書のレイアウトを決める際、テキストの入る部分はべた塗り実際の出来上がりに近いフォント</div>
                            <div class="inner-3">3</div>
                        </div>
                    </div>
                    <div class="section-buttom">
                        <a href="#" class="ui buttom style-d">ランキングをもっとみる</a>
                    </div>
                    <div class="section-inner">
                        <div class="inner-item">728x90</div>
                    </div>
                    <div class="section-title">
                        <div class="title">FEATURE</div>
                        <div class="subtitle">特集</div>
                    </div>
                    <div class="section-bg">
                        <div class="bg"></div>
                        <div class="bg"></div>
                    </div>
                    <div class="section-bg">
                        <div class="bg"></div>
                        <div class="bg"></div>
                    </div>
                    <div class="section-inner">
                        <div class="inner-item">728x90</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="section-sidebar ">
                        <div class="ui navigation menu style-s">
                            <ul>
                            <a href="#"><li>掃除</li></a>  
                            <a href="#"><li>洗濯</li></a>
                            <a href="#"><li>料理</li></a>
                            <a href="#"><li>片付け</li></a>
                            </ul>
                        </div>
                        <div class="ui navigation menu style-s">
                            <ul>インテリア
                            <a href="#"><li>掃除</li></a>  
                            <a href="#"><li>洗濯</li></a>
                            <a href="#"><li>料理</li></a>
                            <a href="#"><li>片付け</li></a>
                            </ul>
                        </div>
                        <div class="ui navigation menu style-s">
                            <ul>収納
                            <a href="#"><li>掃除</li></a>  
                            <a href="#"><li>洗濯</li></a>
                            <a href="#"><li>料理</li></a>
                            <a href="#"><li>片付け</li></a>
                            </ul>
                        </div>
                        <div class="ui navigation menu style-s">
                            <ul>動画
                            <a href="#"><li>掃除</li></a>  
                            <a href="#"><li>洗濯</li></a>
                            <a href="#"><li>料理</li></a>
                            <a href="#"><li>片付け</li></a>
                            </ul>
                        </div>
                        <div class="ui navigation menu style-s-alt">
                            <ul class="alt">
                            <a href="#"><li>#掃除,</li></a>                    
                            <a href="#"><li>#料理,</li></a>
                            <a href="#"><li>料理,</li></a>
                            <a href="#"><li>片付け,</li></a>
                            <a href="#"><li>#掃除,</li></a>           
                            </ul>
                        </div>
                        <div class="section-buttom">
                            <a href="#" class="ui buttom style-d">一覧をみる</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section footer style-alt-color">
        <div class="section-bg">
            <div class="container">
                <div class="section-social">
                    <div class="logo">
                        <a href="#"> <img src="assets/img/logo-f.png" alt=""></a>
                        <div class="desc">サイトのディスクリプションが入ります。</div>
                    </div>
                    <div class="social-buttom">
                        <div class="desc">FOLLOW US</div>
                        <a class="" href="#"><i class="fa fa-facebook-square"></i></a>
                        <a class="" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="" href="#"><i class="fa fa-instagram"></i></a>

                    </div>
                </div>
                <div class="section-copyright">
                    <div class="contact">
                        <a href="">利用規約</a>
                        <a href="">運営会社</a>
                        <a href="">プライバシーポリシー</a>
                        <a href="">プライバシーポリシー</a>
                        <a href="">お問い合わせ</a>
                    </div>
                    <div class="copy"> © 2019 onnela.tv</div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')