&.content {
    .section-title {
        text-align: center;
        margin-top: 100px;

        .subtitle {
            margin-top: 12px;
        }
    }

    .section-images {

        margin-top: 25px;
        display: flex;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }

        .item {
            padding: 10px;
            position: relative;

            .inner-1 {
                width: 40px;
                height: 40px;
                box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.05);
                border: 2px solid #ffffff;
                background-color: #ffff00;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 0;
                color: #000000;
                font-family: 'Noto Serif', serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 20px;

                @include media-breakpoint-down(md) {
                    margin: 20px 70px;
                }
            }

            .inner-2 {
                width: 40px;
                height: 40px;
                box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.05);
                border: 2px solid #ffffff;
                background-color: #dfdfde;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 0;
                color: #000000;
                font-family: 'Noto Serif', serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 20px;

                @include media-breakpoint-down(md) {
                    margin: 20px 70px;
                }

            }

            .inner-3 {
                width: 40px;
                height: 40px;
                box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.05);
                border: 2px solid #ffffff;
                background-color: #dfba57;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 0;
                color: #000000;
                font-family: 'Noto Serif', serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 20px;

                @include media-breakpoint-down(md) {
                    margin: 20px 70px;
                }

            }


            .desc {
                margin-top: 19px;
            }

            .subtitle-2 {
                margin-top: 16px;
            }

            .articl-desc {
                margin-top: 15px;
            }
        }

        .img {
            max-width: 100%;
            width: 272px;
            display: block;
            height: auto;

        }
    }

    .section-buttom {
        text-align: center;
        margin-top: 60px;
    }

    .section-inner {
        text-align: center;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner-item {
            width: 728px;
            height: 90px;
            background-color: #cccccc;
            color: #000000;
            font-family: 'Noto Serif', serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .section-bg {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }

        .bg {
            margin: 15px 0;
            width: 396px;
            height: 130px;
            background-color: #cccccc;

            @include media-breakpoint-down(md) {
                width: 346px;
            }
        }
    }

    .section-sidebar {
        @include media-breakpoint-down(md) {
            display: none;
        }

        .menu {
            margin-top: 100px;

            .alt {
                list-style: none;
            }

            ul {
                list-style-image: url("/assets/img/list.png");
            }
        }

    }

}